---
title: "memi's startup"
layout: splash
excerpt: "Development logs"
author_profile: true
header:
  overlay_image: /images/header.png
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  cta_label: "More"
  cta_url: "/nemv/nemv-1/"
intro:
  - excerpt: 'java&spring&rdbms 지겹다면 스타트업 플랫폼 nemv에 도전해보자. nemv는 multiplatform(web to the others)며 무엇이든(what ever) 쉽게 만들 수 있다.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "fkkmemi"
    title: "who is memi?"
    excerpt: "한달이 지나면 뇌지우개가 발동된다... **기록**만이 최선"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/unsplash-gallery-image-2-th.jpg
    alt: "nemv"
    title: "NEMV"
    excerpt: "**N**ode.js **E**xpress.js **M**ongoDB **V**ue.js 을 파헤쳐본다. 설치부터 구현까지"
    url: "/nemv/nemv-1/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /images/pf/lw4/3.png
    alt: "portfolio"
    title: "Portfolio"
    excerpt: "산출물 박물관"
    url: "/portfolio/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
