---
title: "memi's startup"
layout: splash
excerpt: "Development logs"
author_profile: true
header:
  overlay_image: /images/header.png
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  cta_label: "모던웹(NEMV) 제작 강좌"
  cta_url: "/nemv/nemv-000-youtube/"
intro:
  - excerpt: 'nemv는 multiplatform(web to the others)며 무엇이든(what ever) 쉽게 만들 수 있다.'
feature_row:
  - image_path: /images/left.png
    alt: "fkkmemi"
    title: "recent article"
    excerpt: "한달이 지나면 뇌지우개가 발동된다... **기록**만이 최선"
    url: "/recent/"
    btn_label: "최근 글 보기"
    btn_class: "btn--inverse"
  - image_path: /images/center.png
    alt: "nemv"
    title: "NEMV"
    excerpt: "모던웹(**N**ode.js **E**xpress.js **M**ongoDB **V**ue.js)으로 혼자 제작하기 강좌"
    url: "/nemv/nemv-000-youtube/"
    btn_label: "강좌 시작하기"
    btn_class: "btn--inverse"
  - image_path: /images/right.png
    alt: "portfolio"
    title: "Portfolio"
    excerpt: "개발 박물관. 과거의 추억편"
    url: "/portfolio/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
