---
title: "NEMV"
layout: splash
excerpt: "**N**ode.js **E**xpress.js **M**ongoDB **V**ue.js<br>Development story"
author_profile: true
header:
  overlay_image: /assets/images/header.png
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  cta_label: "More"
  cta_url: "/nemv/nemv-1/"
intro:
  - excerpt: 'java&spring&rdbms 지겹다면 스타트업 플랫폼 nemv에 도전해보자. nemv로 web to the app 무엇이든 쉽게 만들 수 있다.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "fkkmemi"
    title: "who is memi?"
    excerpt: "한달이 지나면 뇌지우개가 발동되는 사람이라... 살기 위해 **기록**해본다"
    url: "/about/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/unsplash-gallery-image-2-th.jpg
    alt: "nemv"
    title: "NEMV"
    excerpt: "**N**ode.js **E**xpress.js **M**ongoDB **V**ue.js 을 파헤쳐본다. 설치부터 구현까지"
    url: "/nemv/nemv-1/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    alt: "communication"
    title: "통신에 관해"
    excerpt: "통신은 어려운 것이 아니다. 재밌는 것임(지극히 주관적인). node's net module로 socket 통신 구현까지"
    url: "/communication/comm-1/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
